PORT=4999
EMAIL_USER=manikandankarthik7310@gmail.com
EMAIL_PASS=kqycxjtlcpdylvfq
RAZORPAY_KEY_ID=rzp_live_SmXGeB9FyKLV4d
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
MONGO_URI=mongodb+srv://manikandankarthik7310_db_user:OxkeQXK58WWwUn3Z@octoink.k9kxcva.mongodb.net/test?retryWrites=true&w=majority&appName=octoink
JWT_SECRET=octoink_secret_key_2024
